#NetBeans created
build.xml
manifest.mf
nbproject

#Compiled
build/
dist/
classes/

#Local stash for .jars
lib-files/
*.jar

#Created Output, only really used if you build the sample_data.
SimpleArchiveFormat/
