#IDE created
build.xml
manifest.mf
nbproject
.idea/
*.iml

#Compiled
build/
dist/
out/
*.class
target

#Local stash for .jars
lib-files/

#Created Output, only really used if you build the sample_data.
SimpleArchiveFormat/

.DS_Store
